
body{
  margin: 0;
  text-align: center;
  font-family: verdana,sans-serif;
}
h1 {
  width: 30%;
  margin: auto;
  font-size: 400%;
}
.top-container {
  background-color: #E4F9F5;
  padding: 125px;
  font-family: 'Sacramento', cursive;
}
.introduction:hover
{
  color: #BDC3C7;
}
.about
{
  font: center;
}
h2
{
  color:#11999E;
  font-family: 'Montserrat',sans-serif;
}
h3
{
  width:35%;
  margin:auto;
  color:#11999E;
  font-family: 'Montserrat',sans-serif;
}
.bottom-cloud {
  position: absolute;
  left: 10%;
  bottom: 300px;
}
.top-cloud {
  position:absolute;
  right: 10%;
  top: 20px;
}
.coading
{
  width: 20%;
  height: auto;
}
.sandeepimage
{
  width: 20%;
  height: auto;
}
.profile{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 1.5;
}
.skill
{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 1.5;
}
.intrests{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 1.5;
}
.footer-container
{
background-color: #E4F9F5;
padding: 10px;
}
.footertop-cloud
{
  position: relative;
  bottom:0;
  top: 30px;
  left: 35%;
}
.footerbottom-cloud
{
  position:relative;
  bottom: 0;
  right: 35%;
}
.contact
{
  width: 20%;
  margin: auto;
}
.end
{
  width: 20%;
  margin: auto;
}
